

#rowf{
  background-color: #f2f2f2;
  height: 700px;
  border-bottom: 3px solid black;
  border-top: 3px solid black;
  overflow-y: scroll;


}

#row2{
  height: 700px;
  background-color: #333333;
  color: #f2f2f2;
  border-bottom: 3px solid black;
  display: none;
  margin-right: -30px;
  overflow-y: scroll;
}

#row3{
  background-color: red;
  height: 2000px;
}



#row4{
  background-color: #f2f2f2;
  min-height: 500px;
  overflow-y: scroll;
}

.col-xl{
  margin-left: 55px;
  margin-right: 15px;
  margin-top: 50px;
}

.col-{

  margin-left: 10px;
  margin-top: 50px;
  margin-right: 10px;
  max-height: 700px;

}

#col2{
  margin-top: 125px;
}



#colwork{
  margin-top: 100px;
}

.jumbotron-fluid{
        height: 200px;
        background-color: #333333;
        text-align: center;
        color: #f2f2f2;
        overflow: auto;
        margin-bottom: 0;
}

.jumbotron-fluid h1{
    margin-top: 35px;
    text-shadow:-1px 0 blue, 0 1px blue, 1px 0 blue, 0 -1px blue;
}

footer{
      background: linear-gradient(#1058cc,red);
      height: 200px;
      text-align: center;
}

#text {
    position: relative;
    top: 100px;
}

@keyframes foot {

  25%{background-color: pink;}
  50%{background-color: orange;}
  75%{background-color: purple;}
  100%{background-color: yellow;}

}


html,body{
  background-color: yellow;
  overflow-x: hidden;
  animation-name: foot;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  height: 100%;
}

ul{
  text-decoration: none;
  position: absolute;
  right: 150px;

}


li{
 list-style-type: none;
 width:150px;

}

a:hover{
  font-weight: bold;
    text-decoration: none;
    color: white;

}

a{
  text-decoration: none;
  color: white;
  font-size: 24px;

}


.navbar-nav{
position:sticky;
  left:25px;
 border-left: 2px solid black;
}

.navbar-item{
        text-align: center;
        border-right: 2px solid black;
        text-shadow: 2px 2px 5px black;
        transition: 3s;

}

.navbar-item:hover{
          background-color: black;

}

.navbar{
        padding-top:0;
        padding-bottom: 0;
}
